.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
}

.footer__columns {
  display: flex;
  color: #fff;
}

.footer__column_content_hours {
  margin-left: auto;
}

.footer__column_content_social {
  margin-left: 80px;
}

.footer__logo {
  width: 57px;
  height: 80px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin: 0;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
}

.footer__column-link {
  align-items: center;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 108px 0 0;
}
